.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inputs{
  height: 35px;
  width: 250px;
  text-align: center
}
select{
  height: 35px;
  width: 200px; 
}
.submit{
  height: 35px;
  width: 200px;
  background-color: green;
  border: none;
}
button:hover{
  background-color: grey;
}
input:hover{
  cursor: pointer;
}
select:hover{
  cursor: pointer;
}
button:hover{
  cursor:alias;
}
.input-pading{
  padding-top: 20px;
}
 .cards{
   height:40%; 
   width: 30%;
   background-color: grey; 
   justify-content: center;
   text-align: center;
   align-items: center; 
 }
 .main-div{
   padding-top: 20px;
   width: 100%;
   justify-content: center;
   display: flex;
 }
 .edit{
   background-color: green;
   height: 25px;width: 20%;
 }
 .delete{
   background-color: red;
   height: 25px;width: 20%;
 }
 .edit:hover ,.delete:hover{
   background-color: white;
   box-shadow: black 1px 1px 1px 0px;
 }
  